ul {
  list-style-type: none;
}

.li1 {
  margin-left: 25px;
}

body {
  position: relative;
}

.btnEdit {
  width: 150px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 200px;
}

.btnDelete {
  width: 150px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
}
